body,div,p,button,input,select,textarea{
    background-color:transparent;
    font-family: tohoma,arial,宋体;
    font-weight:normal;
    font-size:12px;
    /* 设置行高，1.5*font-size */
    line-height:1.5;
    font-stretch:normal;
    /* 斜体 */
    font-style:normal;
    font-variant-ligatures: normal;
    font-variant-caps:normal;    
}

body{
    display:block;
    margin:0;
    padding:0;
}
.topPage{
    display:block;
    width: auto;
    min-width:1190px;
}

.topPage .header{
    width: 1190px;
    height: 44px;
    padding:22px 0px;
    margin:auto;
    /* border:1px solid red;  */
}
.topPage .header a{
    text-decoration:none;
    color:-webkit-link;
    cursor:auto;
}
.topPage .header .logoPic{
    margin-top:8px;
    width:190px;
}

.topPage .content{
    position:relative;
    width:100%;
    height:600px;
    margin-bottom:40px;
    /* border:1px solid red; */
}

.topPage .content .main-banner-wrap{
    background-color:rgb(245, 251, 255);
    width:100%;
}
.topPage .content .main-banner-wrap .inner{
    position:relative;
    width:1190px;
    margin:auto;
}
/* content 区域样式结束 */
.topPage .content .dl-form{
    display: block;
    position:absolute;
    top:91px;
    right:416.5px;
    background:#fff;
}
.topPage .content .dl-form .form-wraper{
    width:350px;
    height:400px;
    /* 内容溢出块级元素，影藏溢出部分 */
    overflow:hidden;
    /* border:1px solid pink; */
}
/* 扫码样式开始 */
.shaoma .shaoma-tip{
    display: block;
    float: right;
    background: url("../img/shaomatipPic.png") no-repeat;
    width: 143px;
    height:28px;
    margin-top:6px;
    margin-right:-1px;
    border-left: 1px solid rgb(243, 217, 149);
    cursor: pointer;
}
.shaoma .cursor-erweima{
    cursor: pointer;
}
.shaoma .shaoma-click{
    display:block;
    float:right;
    background: url("../img/erweimaPic.png") no-repeat;
    width: 52px;
    height: 52px;
    margin-top:5px;
    margin-right: 5px;
}

/* 表单样式开始 */
.topPage .content .dl-form .form-wraper form{
    position:relative;
    display:block;
    padding:25px 26px 20px 26px;
    /* border:1px solid blue; */
}
.topPage .content .dl-form .form-wraper form .dl-tip{
    margin-top:15px;
    width:100%;
    /* border:1px solid purple; */
}
.topPage .content .dl-form .form-wraper form .dl-tip span{
    color:#3c3c3c;
    line-height: 1.5;
    font-size:16px;
    font-weight:700;
}

/* 用户名输入框 */
.username{
    position:relative;
    margin-top:25px;
}
.username #un{
    display:block;
    width:40px;
    height:40px;
    /* border:1px solid red; */
    text-align:center;
    /* vertical-align:middle; */
    line-height:40px;
    background-color:rgb(221, 221, 221);
    color:#606060;
}
.username #un span{
    display:inline-block;
    margin:9px auto;
    width:22px;
    height:24px;
    background-image: url("../img/usernamePic.png");
    /* border:1px solid red; */
}
.username>span{
    position:absolute;
    left:50px;
    top:0;
    font-size:14px;
    color:#999;
    line-height:42px;
    /* border:1px solid red; */
}
.username>input{
    position: absolute;
    left:0;
    top:0;
    width:240px;
    height:18px;
    padding:11px 8px 11px 50px;
    border:1px solid #ddd;
    font-size:14px;
    line-height:18px;
}
.username>.cha{
    position:absolute;
    display:inline-block;
    width:16px;
    height:18px;
    top:12px;
    left:276px;
    background: url("../img/chaPic.png") no-repeat;
    cursor:pointer;
}
/* 密码框样式开始 */
.password{
    position:relative;
    margin-top:25px;
}
.password>label{
    /* position: absolute; */
    display:inline-block;
    width:40px;
    height:40px;
    background:rgb(221, 221, 221);
    color:#606060;
    top:0;
    left:0;
    /* border:1px solid red; */
    text-align:center;
}
.password>label>span{
    display:inline-block;
    width:22px;
    height:24px;
    background:url("../img/passwordPic.png") no-repeat;
    margin:9px auto;
}
.password>input{
    position: absolute;
    left:0;
    top:0;
    padding:11px 8px 11px 50px;
    border:1px solid #ddd;
    width:240px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
}
.password>.xunijian{
    position: absolute;
    display:inline-block;
    left:273px;
    top:11px;
    width:22px;
    height: 22px;
    background: url("../img/jianpanPic.png") no-repeat;
    cursor:pointer;
}
/* 登录按钮样式开始 */
.dl-bt{
    position: relative;
    width: 100%;
    height:42px;
    margin-top:20px;
    background:#fff;
}
.dl-bt>button{
    position:absolute;
    left:0;
    top:0;
    width:300px;
    height:42px;
    background:#ff0036;
    color:#fff;
    font-size: 16px;
    line-height:42px;
    text-align:center;
    border:none;
    border-radius: 3px;
    cursor:pointer;
}
.dl-bt>button:hover{
    background:rgba(255, 0, 54, .8);
}
.other-options{
    margin-top:25px;
    text-align:right;
    overflow: hidden;
    /* border:1px solid red; */
}
.other-options a{
    text-decoration:none;
    font-size:12px;
    line-height: 1.5;
    color:#6c6c6c;
    text-align:center;
    margin-left: 20px;
    margin-right:10px;
}
.other-options a:hover{
    color:#ff0036;
}
/* topMage 样式结束 */
.topPage .content .main-banner-wrap .inner .dl-bg{
    display:block;
    margin:auto;
}
.topPage .content .main-banner-wrap .inner a{
    display:block;
    position:absolute;
    top:80px;
    left:75px;
    width:630px;
    height:440px;
    border:none;
    outline:none;
}

.footer{
    display:block;
    width:auto;
    min-width:1190px;
}

.footer .light-rights{
    display:block;
    width:1190px;
    margin:10px auto;
    min-height:177px;
    background:#fff;
    border-top:none;
    text-align:left;
    /* height:300px; */
    /* border:1px solid red; */
}
.footer .light-rights .members{
    font-size:12px;
    line-height:1.5;
    margin-left:30px;
}
.footer .light-rights .members span{
    color: #999;
    padding-left:50px;
}
.footer .light-rights .hava-rights{
    margin-left:30px;
    color:#999;
}
